

nav{
    background-color: rgb(255, 115, 115);
    border-top: 1px solid rgb(156, 146, 146);
    border-bottom: 1px solid rgb(156, 146, 146);
}

footer{
    background-color: rgb(255, 115, 115);
    border-top: 1px solid rgb(156, 146, 146);
    border-bottom: 1px solid rgb(156, 146, 146);
}

.cuerpo{
    background-color: rgb(198, 218, 255);
}

.nombre{
    color: rgb(255, 72, 72);
}

i,label,li,p{
    color: black;
}


.migas{
    background-color: rgb(164, 196, 255);
}

.entrada{
    background-color: rgb(164, 196, 255);
}

.navoscuro{
    background-color: rgb(255, 72, 72);
    border-top: 1px solid rgb(255, 72, 72);
    border-bottom: 1px solid rgb(255, 72, 72);
}



.footeroscuro{
    background-color: rgb(255, 72, 72);
    border-top: 1px solid rgb(255, 72, 72);
    border-bottom: 1px solid rgb(255, 72, 72);
}



.cuerpooscuro{
    background-color: rgb(104, 157, 255);
}

.entradaoscuro{
    background-color: rgb(76, 136, 248);
}

.migasoscuro{
    background-color: rgb(76, 136, 248);
}